/* navbar-1 */
a{
    font-weight: 500;
}

.navbar{
    font-weight: 500;
    background-color: tomato;
    
}

navbar-brand{
    font-weight: 700;
}

/* about us */

.aboutUS {
    margin-top: 50px; 
    background-image: url("images/aboutUs.jpg"); 
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: mediumspringgreen;
    
    

  }
  
  .aboutUS-text {
    text-align: center;
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:brown;
  }


  .card{
      margin-top: 50px ;
  }
   
/* footer */

.footer {
    margin-top: 50px;
    bottom: 40px;
    background-color: black;
    color: white;
    text-align: center;
 }

 .footer-text{
     padding-top: 30px;
     padding-bottom: 30px;
     background-color: tomato;
     color: brown;
 }
